[submodule "translation_service"]
	path = translation_service
	url = https://github.com/guallo/translation_service.git
[submodule "translation_hub"]
	path = translation_hub
	url = https://github.com/guallo/translation_hub.git
[submodule "translation_client"]
	path = translation_client
	url = https://github.com/guallo/translation_client.git
